*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.pytest_cache

dist
data
reports
screenshots
failures
testcases/logs
testcases/courese/logs
testcases/new_courese/logs
build
eggs
parts
bin
var
sdist
develop-eggs
module/logs
testcases/logs
.installed.cfg
.idea/
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv
